body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(55, 55, 55);
    background-image: url(1337527.png);
    background-size: 1920×1320;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5a87bb;
    padding: 10px 20px;
}
.logo {
    color: white;
    font-size: 24px;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on your navbar height */
        left: 0;
        width: 100%;
        background-color: #01003171;
    }
    
    .nav-list.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}
.search-container{
    width: 100%;
    background-color: #5a87bb;
}
.search-input{
    width: 200px;
height: 25px;
}
.card {
    width: 300px;
    
    padding: 20px;
   margin-top: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 98, 189);
    transition: transform 0.10s ease, box-shadow 0.10s ease;
}

.card h2 {
    margin: 0 0 10px 0;
}

.card p {
    margin: 0;
}

